<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>목격 제보 요청</title>
        <!-- Bootstrap core CSS-->
        <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="../stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
        <!-- Plugin CSS-->
        <link href="../stylesheets/magnific-popup.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="../stylesheets/creative.min.css" rel="stylesheet">
    </head>

    <body id="page-top"style="background-image:url('../img/eyewitness-image.jpg');background-size:100% 120%;">
        <!-- Navigation-->
        <nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
              <a class="carousel-control-prev" href="#" onClick="history.back()" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>

                <a href="/" class="navbar-brand js-scroll-trigger">BLACKBOX</a>
                <button type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarResponsive" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <% if(id) { %>
                        <li class="nav-item">
                          <a href="/logout" class="nav-link js-scroll-trigger">logout</a>
                        </li>
                        <% }else{ %>
                        <li class="nav-item">
                          <a href="/login" class="nav-link js-scroll-trigger">login</a>
                        </li>
                        <% } %>
                        <li class="nav-item">
                            <a href="/consult" class="nav-link js-scroll-trigger">Consult</a>
                        </li>
                        <li class="nav-item">
                            <a href="/eyewitness" class="nav-link js-scroll-trigger">Eyewitness</a>
                        </li>
                        <li class="nav-item">
                            <a href="/setting" class="nav-link js-scroll-trigger">Setting</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="services" class="text-white">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <h2 font-family:nanum="" class="section-heading style=">
                        <strong>EYEWITNESS TESTIMONY</strong>
                    </h2>
                    <hr class="my-4">
                    <p class="text-faded mb-4" style="font-size:12pt;color:#ffffff;">
                         목격자 제보</p>
                    <br>
                </div>
                <form action="/eyewitness/request" method="POST">
                    <table summary="" align="center">
                        <caption></caption>
                        <colgroup></colgroup>
                        <tbody>
                            <tr style="text-align:right;">
                                <th>
                                    <label style="list-style-type:none;font-family:Nanum Gothic;">사건 날짜</label>
                                </th>
                                <td>
                                    <input type="date" name="date" style="margin-top:15px;margin-bottom:15px;margin-left:60px;" class="form-control">
                                </td>
                            </tr>
                            <tr style="text-align:right;">
                                <th>
                                    <label style="list-style-type:none;font-family:Nanum Gothic;">의뢰 명</label>
                                </th>
                                <td>
                                    <input type="text" name="title" style="margin-top:15px;margin-bottom:15px;margin-left:60px;" class="form-control">
                                </td>
                            </tr>

                            <tr style="text-align:right;">
                                <th>
                                    <label style="font-family:Nanum Gothic;">내용</label>
                                </th>
                                <td>&nbsp &nbsp &nbsp
                                    <textarea rows="10" name="content" cols="50" style="margin-top:15px;margin-bottom:15px;margin-left:60px;border-radius:4px;"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" style="margin-left:480px;background-color:#f05f40;border-radius:4px;color:#ffffff;" class="btn btn-light btn-xl sr-button">작성완료</button>
                </form>
            </div>
        </section>
        <script src="../javascripts/jquery.min.js"></script>
        <script src="../javascripts/bootstrap.bundle.min.js"></script>
        <script src="../javascripts/jquery.easing.min.js"></script>
        <script src="../javascripts/scrollreveal.min.js"></script>
        <script src="../javascripts/jquery.magnific-popup.min.js"></script>
        <script src="../javascripts/creative.min.js"></script>
    </body>

</html>
