<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>사건의뢰</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="stylesheets/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="background-image:img/consult-image.jpg;">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
              <a class="carousel-control-prev" href="#" onClick="history.back()" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>

        <a class="navbar-brand js-scroll-trigger" href="/">BLACKBOX</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if(id) { %>
            <li class="nav-item">
              <a href="/logout" class="nav-link js-scroll-trigger">logout</a>
            </li>
            <% }else{ %>
            <li class="nav-item">
              <a href="/login" class="nav-link js-scroll-trigger">login</a>
            </li>
            <% } %>
            <% if(type!='admin') { %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/consult">Consult</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/eyewitness">Eyewitness</a>
            </li>
            <%}%>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/setting">Setting</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>



 <section id="services" class="bg-dark text-white">
      <div class="container">
          <div class="col-lg-12 text-center">
        <br>
	<br>
	<h2 class="section-heading" style="font-family:Nanum Gothic;"><strong>CHANGE PASSWORD</strong></h2>
            <hr class="my-4">
	<p class="text-faded mb-4" style="font-size:12pt;color:#ffffff;">
		비밀번호 변경</p>
	<br>
	 </div>
	<form name ="/pwupdate" method="POST">
        <table summary="" align="center">
		<caption></caption>
		<colgroup>
              		<colwidth="" />
			<colwidth="" />
		</colgroup>
		<tbody>
      		<tr style="text-align:right;">
			<th><label style="list-style-type:none;font-family:Nanum Gothic;">현재 비밀번호</label></th>
                	<td><input type="password" name="nowpw" class="form-control" placeholder=" 비밀번호" style="width:50%;margin-top:15px;margin-bottom:15px;margin-left:85px;"></td>
         	</tr>

		<tr style="text-align:right;">
              		<th><label style="list-style-type:none;font-family:Nanum Gothic;">새 비밀번호</label></th>
                	<td><input type="password" name="newpw1" class="form-control" placeholder=" 변경할 비밀번호" size="40"required style="width:50%;margin-top:15px;margin-bottom:15px;margin-left:85px;"></td>
             	</tr>

              	<tr style="text-align:right;">
			<th><label style="list-style-type:none;font-family:Nanum Gothic;">새 비밀번호 확인</label></th>
                	<td><input type="password" name="newpw2" class="form-control" placeholder=" 비밀번호 확인" size="40"required style="width:50%;margin-top:15px;margin-bottom:15px;margin-left:85px;"></td>
		</tr>

		</tbody>
		</table>
		<br>
		<button type="submit" class="btn btn-light btn-xl sr-button" style="margin-left:410px;background-color:#f05f40;border-radius:4px;color:#ffffff;">수정완료</button>
		<button type="reset" class="btn btn-light btn-xl sr-button" style="margin-left:35px;background-color:#f05f40;border-radius:4px;color:#ffffff;">수정취소</button>
	</form>
        </div>

    </section>


	<section id="setting"  class="bg-dark text-white">
	</section>



  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/bootstrap.bundle.min.js"></script>
  <script src="javascripts/jquery.easing.min.js"></script>
  <script src="javascripts/scrollreveal.min.js"></script>
  <script src="javascripts/jquery.magnific-popup.min.js"></script>
  <script src="javascripts/creative.min.js"></script>

  </body>

</html>
