<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>사용자설정</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="stylesheets/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
              <a class="carousel-control-prev" href="#" onClick="history.back()" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>

        <a class="navbar-brand js-scroll-trigger" href="/">BLACKBOX</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if(id) { %>
            <li class="nav-item">
              <a href="/logout" class="nav-link js-scroll-trigger">logout</a>
            </li>
            <% }else{ %>
            <li class="nav-item">
              <a href="/login" class="nav-link js-scroll-trigger">login</a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/consult">Consult</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/eyewitness">Eyewitness</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/setting">Setting</a>
            </li>
	<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/admin"><i class="fa fa-1g fa-id-badge text-primary mb-3 sr-icons"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<section id="setting"  class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
        <br>
	<br>
	<h2 class="section-heading" style="font-family:Nanum Gothic;"><strong>SETTING</strong></h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-user text-primary mb-3 sr-icons"></i><br>
              <h3 class="mb-3">사용자 개인정보 변경</h3>
              <a class="btn btn-primary btn-xl js-scroll-trigger" style="margin:15px; background-color:#f05f40; color:#ffffff;" href="/setting/user_info">CHANGE INFORMATION</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-legal text-primary mb-3 sr-icons"></i><br>
              <h3 class="mb-3">변호사 개인프로필 등록</h3>
              <a class="btn btn-primary btn-xl js-scroll-trigger" style="margin:15px; background-color:#f05f40; color:#ffffff;" href="/setting/lawyer_profile"> LAWYER PROFILE </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-key text-primary mb-3 sr-icons"></i><br>
              <h3 class="mb-3">비밀번호 변경</h3>
              <a class="btn btn-primary btn-xl js-scroll-trigger" style="margin:15px; background-color:#f05f40; color:#ffffff;" href="/pwupdate"> CHANGE PASSWORD </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-user-times text-primary mb-3 sr-icons"></i><br>
              <h3 class="mb-3">서비스 계정탈퇴</h3>
             <a class="btn btn-primary btn-xl js-scroll-trigger" style="margin:15px; background-color:#f05f40; color:#ffffff;" href="/setting/remove">REMOVE ACCOUNT</a>
            </div>
          </div>
        </div>
      </div>
    </section>


	<section id="setting"  class="bg-dark text-white">
	</section>

  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/bootstrap.bundle.min.js"></script>
  <script src="javascripts/jquery.easing.min.js"></script>
  <script src="javascripts/scrollreveal.min.js"></script>
  <script src="javascripts/jquery.magnific-popup.min.js"></script>
  <script src="javascripts/creative.min.js"></script>

  </body>

</html>
